//========================
// This is the breakpoints of layout.
//======================

$xl-device: 1600px; //extra large more than 1600px .uk-width-1xl
$l-device: 1200px; // large screen  .uk-width-1l
$m-device: 960px; // medium level screen .uk-width-1m
$s-device: 640px; // small mobile device screen .uk-width-1s
